{% extends "template.twig" %}

{% set html_class = "html--screenshot" %}
{% block layout %}

{% if image %}
	<a class='screenshot' href="{% if image.next %}{{ image.next.index }}{% else %}../{% endif %}">
		<img src="/clients/{{ relpath }}/{{ image.name }}">
	</a>
{% else %}
<p>
	No image
</p>
{% endif %}

{% endblock %}