<div class="field__group" data-sortable-group="{{ id }}">
	<div class="clearfix">
		<div class="right">
			{% if id > 0 %}
				<span data-delete-group="a" class='btn btn-secondary small'>Delete</span>
			{% endif %}
		</div>
		<div class="left">
			<h3>
				<input type="text" class="field field--invisible  field--write-in" value="{{ name|default('default') }}" data-group-field="title">
				
			</h3>
		</div>
	</div>
	<div>		
		Date: <input name="date" value="" type="date" data-group-field="date">
	</div>
	
	<div data-items class="group__items {% if not data %}group--empty{% endif %}">
		{% for item in data %}

		<form class="field__item" data-item="{{item.id}}" data-path="{{item.path}}">
			<span class='small'>Path: {{ item.path }} </span> 
			<p>
				Title: <input name="name" type="text" class="field  field--write-in" value="{{ item.name }}">
			</p>
			<textarea class='field__textarea' name="description">{{ item.description }}</textarea>
		</form>	
		{% endfor %}
	</div>
</div>
