<div class="field__group" data-sortable-group="{{ id }}" data-path="{{ relpath }}">
    {% if id > 0 %}
    <div class="clearfix">
		<div class="right">


                {#<span data-delete-group="{{ id }}" class='btn btn-outline small'>Delete</span>#}

                {#<span data-sort>#}
                   {#<span class="btn btn-outline small" data-sort-up="{{ id }}">↑</span>#}
                    {#<span class="btn btn-outline small" data-sort-down="{{ id }}">↓</span>#}
                {#</span>#}

		</div>
		<div class="left">
			<h3>
				<input type="text" class="field field--invisible  field--write-in" value="{{ name }}" data-group-field="title">
			</h3>
		</div>
	</div>
    <div>
        Date: <input name="date" value="{{ time }}" type="date" data-group-field="date">
    </div>
    {% endif %}


	
	<div data-items class="group__items {% if not data %}group--empty{% endif %}">
		{% for item in children %}
            {% include "sequence.j2" %}
		{% endfor %}
	</div>
</div>
